html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: Linen;
	color: DarkSlateGrey;
    display: table-cell;
    vertical-align: middle;
}

#main  {
    display: flex;
    justify-content: column;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: rgb(255, 245, 235);
}