body {
    font-family: Arial, sans-serif; 
    margin: 20px;
	background-color: #FFFFFF;
  }
  
  h1 {
    text-align: center;
  }
  
  #filter {
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    position: absolute;
    top: 170px;
    left: 38px;
    background-color: white;
    border: 1px solid black;
  }
  
  table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  button {
    margin-left: 10px;
	padding: 5px;
	cursor: pointer;
	background-color: #6bcaba;
	border-radius: 10px;
	transition-duration: 0.3s;
  }
  
  button:hover{
	background-color: #009999;
	color: black;  
  }  
  
  #logoutButton {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .wrap-cell {
    word-wrap: break-word;
  }
  
  #feedbackButton {
	position: absolute;
	top: 120px;
	left: 165px;
	padding: 10px;
	margin: 5px;
	border: 1px solid #000000;
	cursor: pointer;
	width: 125px;
	border-radius: 15px;
	transition-duration: 0.3s;
  }
  #feedbackButton:hover{
  background-color: #009999;
  color: black;
  }
  
  #statisticsButton{
	position: absolute;
	top: 120px;
	left: 30px;
	padding: 10px;
	margin: 5px;
	border: 1px solid #000000;
	cursor: pointer;
	width: 125px;
	border-radius: 15px;
	transition-duration: 0.3s;
  }
  
  #statisticsButton:hover{
  background-color: #009999;
  color: black;
  }
  
  .clicked{
	background-color: #009999;
  }
  
  .notClicked{
	background-color: #6bcaba;
  }
  
  #csvButton{
  position:absolute;
  right: 20px;
  }
  
  #excelButton{
  position:absolute;
  right: 120px;
  }
  
  #resultsTable{
	width: 80%;
  }