body {
	background-image:url("taust.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  #video-container {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 30%;
	left: 50%;
  }  
  
  #intro-video{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 30%;
	left: 50%;
  }

  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #cv-section{
	width: 290px;
	height: 275px;
    transform: translate(-50%, -50%);
	position: absolute;
	top: 43%;
	left: 50%;
	text-align: center;
  }

  
  #start-btn{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 65%;
  left: 50%;
  }
  
  #submit-btn{
	transform: translate(-50%, -50%);
	position: absolute;
	bottom: 25%;
	left: 50%;
  }
  
  #education{
	width: 290px;
	height: 35px;
	text-align: center;
	background-color: white;
  }
  
  #start-section button {
    display: block;
    margin-top: 70px;    
  }
  
  .end-button, .feedback-button{
	font-size: 0.9vw;
    width: 21vw;
    height: 4.5vw;
    border-radius: 30px;
    background-color: rgba(107, 201, 186, 0.84);
    color: #000;
    transition: background-color 0.3s;   
    margin-bottom: 20px;    
    padding: 10px 20px;    
    cursor: pointer;	
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .end-button {   
    top: 52%;
    left: 50%;
  }

  .feedback-button {
    top: 65%;
    left: 50%;
  }

  .end-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
	border: 1px solid black;
	padding: 20px;
	border-radius: 10px;
	background-color: #f0f0f5;
  }  
  
  #question-section,
  #end-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #question-section h2,
  #end-section h2 {
    display: grid;
    grid-template-columns:(3);
    margin-bottom: 3vw;
    font-size: 1.5vw; 
  }
  
  #question, #end-score{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 54%;
	left: 50%;
  }
  
.question-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
  
  #answer-buttons {
    display: grid;
    grid-template-columns: repeat(2),;
    grid-template-rows: repeat(2);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #answer-buttons button:nth-child(1),
  #answer-buttons button:nth-child(2) {
    grid-row: 1 / span 2;
  }
  
  #answer-buttons button:nth-child(3),
  #answer-buttons button:nth-child(4) {
    grid-row: 2/ span 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1;
    border-color: black;
  }
  
  button {
    display: grid;
    align-items: center;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #answer-buttons button {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    width: 21vw;
    height: 4.5vw;
    border-radius: 30px;
    background-color: rgba(107, 201, 186, 0.84);
    color: #000;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  #answer-buttons button.selected{
    background-color: rgba(51, 120, 110, 0.95);
    color: white;
  }
  
  #answer-buttons button:hover, button:hover, #next-btn:hover, #start-btn:hover, #submit-btn:hover {
    background-color: rgba(51, 120, 110, 0.95);
    cursor: pointer;
    color: white;
  }
  
#next-btn, #start-btn, #submit-btn {
	margin: auto;
	margin-top: 1vh;
	padding: 1vh 2vw;
	background-color: rgba(107, 201, 186, 0.84);
	border-radius: 20px;
	font-size: 1.0vw;
	cursor: pointer;
	margin-bottom: 50px;  
}

  
#next-btn:disabled, #start-btn:disabled {
  background-color: rgba(107, 201, 186, 0.84);
  cursor: not-allowed;
}

#video1,
#video2 {
  display: none;
}

.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
}